<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deepank.zoo_directory">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/zoo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".each_animal"
            android:label="@string/title_activity_each_animal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".zoo_info"
            android:label="@string/title_activity_zoo_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
